[submodule "libraries/nice-nano-kicad"]
	path = libraries/nice-nano-kicad
	url = https://github.com/bstiq/nice-nano-kicad
[submodule "libraries/key-switches.pretty"]
	path = libraries/key-switches.pretty
	url = https://github.com/siderakb/key-switches.pretty.git
